PORT=3001
FRONTEND_URL=http://localhost:5173
ANTHROPIC_API_KEY=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
OPENAI_API_KEY=ysk-proj-X_WhGWge0HwMAtJ7nYKVcoMMWru9-6ztB9qXsaieXGhRRi9NgM5otTPjX7l6rywEyEqS5PEg0tT3BlbkFJRcOa2aWP5T2SY5VuZn7fnRUrLRDGOvl2hBURGKUvfx-QmffTDYZLEXKiscpJ7D_fQuBb4daAgA
